* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Calibri;
}
.data-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.data-list li{
    list-style: none;
    display: flex;
    gap: 10px;
}
#MainView {
    display: grid;
    height: 100vh;
    grid-template-areas: 'header header'
        'menu main'
        'console main'
        'footer footer';
        grid-gap: 2px;
        grid-template-rows: 9% 70% 9% 10%;
     grid-template-columns: 20% 80%;
}
header{
    grid-area: header;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 6px;
}
console{
    grid-area: console;
    background: #555;
}
[name="manageService"]>table thead,
[name="manageService"]>table tbody{
    display: inline-block;
    width: 100%;
    max-height: 350px;
    overflow: auto;
}
menu{
    grid-area: menu;
    border: 1px solid #000;
}
main{
    grid-area: main;
    border: 1px solid #000;
}
footer{
    grid-area: footer;
    border: 1px solid #000;
    border-radius: 3px;
    padding: 12px;
}
#dataTicket {
    display: flex;
}
#dataTicket li {
  list-style: none;
}
#dataTicket li span{
    margin: 2px;
    cursor: pointer;
}
/*ALERTE*/
.overlay {
    width: 100%;
    height: 110%;
    background: #6669;
    display: block;
    position: absolute;
    z-index: 2;
}

.alert_msg {
    max-width: 180px;
    aspect-ratio: 4/2;
    padding: 20px;
    position: relative;
    left: 40%;
    top: 45%;
    background: #FFF;
    color: #000;
    font-size: var(--dSize);
}
/*KPI*/
#KPI_By_State li{
    display: flex;
}
#KPI_By_State li span:first-of-type::after{
    content:"->";
}
/*TimeLine*/
.timeline {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ccc;
    margin: 5px;
}

.circle.done {
    background: #4CAF50;
}

.circle.current {
    background: orange;
}

.label {
    font-size: 12px;
    text-align: center;
}

.connector {
    height: 2px;
    width: 80px;
    background: #ccc;
    margin: 0 5px;
    position: relative;
}

.connector.done {
    background: #4CAF50;
}

.duration {
    position: absolute;
    top: -20px;
    font-size: 11px;
}